.nav-link{
    color: black;
}
#main{
    margin-left: -1%;
   
}


#main2, #jumbo1{
    background-color: lightgrey;
    border: 1px solid #a69042;
}
#jumboTitle, #jumboText
{
    text-align: center;
   
}
#jumboText2{
    display: inline-block;
    width: 37%;
    margin-left: 33%;
    border: 1px solid #a69042;
}
#jumboLine1,#jumboLine3
{
    background-color:#a69042;
}
#manImg
{
    margin-left: 45%;
    border: 1px solid #a69042;
    
}